@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Roboto:wght@100;300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: #e8e8e8;
}

header {
  background-color: #ffe500;
  height: 70px;
  display: flex;
  align-items: center;
}

nav {
  color: #636363;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.carrinho {
  text-align: right;
  padding-left: 712px;
}

#card-details {
  margin-top: 12px;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.line-bottom {
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.mb20 {
  margin-bottom: 20px;
}

.btn-container {
  width: 220px;
}

.btn {
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn-blue {
  background-color: #3483fa;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #3483fa;
}
